<h1>Admin Dashboard</h1>

<h3><Product and Category Count Data</h3>
<ul class="prod-cat-data">
  <li>
  <%= link_to "Products", [:admin, :products] %> 
  <p><%= @data["products"] %></p>
  </li>
  <li>
  Categories 
  <p><%= @data["categories"] %></p>
  </li>
</ul>



