<h1>About Us!</h1>

<h4>The Calgary Flames are going to win the Stanley Cup this year. With the additions of Tyler Toffoli and Blake Coleman to the forward group, the emergence of Oliver Kylington, and stellar goaltending of Jakob Markstrom, they will be a force come playoff-time.</h4>
